*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 30px 5rem;
}

.box{
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
}

.box-all{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fafafa;
}

.box i{
    color: orange;
    font-size: 90px;
}

.header h1{
    color: orangered;
    font-weight: bold;
    font-size: 50px;
}

@media (max-width:576px){
    .container{
        padding: 0 1rem;
    }
    .box{
        width: 100%;
    }
}

